<h1>Welcome to trello!</h1>

<div cdkDropListGroup >
  <div 
      cdkDropList
      [cdkDropListData]="trello"
      class="example-container"
      *ngFor="let table of trello;let ind = index" cdkDrag
      (mousedown)="onTableClick(ind)"
      (cdkDropListDropped)="drop($event)"
      (click)="onTableClick(ind)"
      (mousemove)="onMouseMove($event, ind)">
    <h2 
      (dblclick)="openDialogName(table.name, ind)"
      class="title">{{ table.name }}</h2>

    <div
      cdkDropList
      [cdkDropListData]= "table.data"
      class="example-list"
      (cdkDropListDropped)="swap($event, ind)">
      <div class="example-box" *ngFor="let item of table.data;let i = index" cdkDrag
      (mousemove)="onMouseMoveItem(i)"
      (dblclick)="openDialog(item, ind, i)">
        {{item}}
        <button mat-raised-button color="warn" (click)="deleteItem(ind, i)">delete</button>
      </div>
    </div>
    
    <mat-form-field class="example-input">
      <input 
        matInput 
        placeholder="Add new task for this table" 
        [(ngModel)]="trello[ind].value" 
        #name 
        (keyup.enter)="addForArray(ind, name.value) && trello[ind].value=''" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="addColumn()">add column</button>
</div>
